# Ignore everything in the root except the "wp-content" directory.
/*

wp-content/*/

# Ignore everything in the "wp-content" directory, except the "plugins"
# and "themes" directories.
# keep plugins
!wp-content/plugins/*/

# keep main themes
!wp-content/themes/antillectual/*/
!wp-content/themes/twentyfifteen/*/

# ignore unimportant files
.DS_Store
.DS_Store?
.TemporaryItems
._*
.Spotlight-V100
.Trashes
.svn
Icon?
thumbs.db
Thumbs.db
.idea/
_work/

public/.htaccess

/node_modules/

*.log
sitemap.xml
sitemap.xml.gz
